.cache
.tox
.tx
__pycache__
*.pyc
node_modules/
sandbox/public/

.coveragerc
.editorconfig
.eslintrc.json
.git/
.github/
.gitignore
.idea/
codecov.yml
docs/
Dockerfile
heroku.yml
src/oscar/locale/*
!src/oscar/locale/en/
!src/oscar/locale/en_US/
!src/oscar/locale/fr/
!src/oscar/locale/fr_FR/
tests/
venv/